:root{
  --mainBlue:#2a2a72;
  --lightBlue:#00a2ff;
  --mainWhite:#e7e7e7;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: Arial, Helvetica, sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}
.text-title{
  font-family: 'Times New Roman', Times, serif !important;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.text-yellow{
  color: var(--mainYellow);
}
.btn-black{
  background: transparent;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border:0.15rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark);
  color:var(--mainWhite);
  border:0.15rem solid var(--mainWhite) !important;
}
